<div id="g-header">
<header>

    <section class="header">
        <img src="resources/FRCLOGO.png" />
        <h1>327's Website</h1>
        <cite>Across the Great Wall we can reach every corner in the world</cite>
    </section>

    <!--This section need to & will be changed-->
    <section class="menu-horizontal">
        <nav>
            <ul>
                <li>
                    <a href="http://localhost/">Home</a>
                </li>
                <li>
                    <a href="http://localhost/sites/oldIndex/index.html">Old Index</a>
                </li>
                <li>
                    <a href="http://localhost/sites/download/download.html">Resources</a>
                </li>
                <li>
                    <a href="http://localhost/sites/post/post.php">Chatboard</a>
                </li>
                <li>
                    <a href="http://localhost/sites/test/test.html">Test(html)</a>
                </li>
                <li>
                    <a href="http://localhost/sites/test/test.php">Test(php)</a>
                </li>
            </ul>
            <div class="red-bar"></div>
        </nav>
    </section>

</header>
</div>