<!--vertical menu that can fold/unfold, auto-fold when mouse leaves, and be nested -->
<!--
	requires:
	jqeury online 
	menu-foldable.js
	menu-foldable.css
-->

<!DOCTYPE html>
<html>

<!--head start-->
<head id="head">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title></title>
	<meta name="description" content="">
	<meta name="keywords" content="">
	<link href="menu-foldable.css" rel="stylesheet">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<!--head end-->

<!--body start-->
<body id="body">
	<script type="text/javascript" src="menu-foldable.js"></script>
	<ul class="menu-list">
		<li>
			<!--text on the option-->
			<p>sdakl</p>
			<!--folded content-->
			<div>
				<ul class="menu-list">
					<li>
						<!--text on the option-->
						<p>sdakl</p>
						<!--folded content-->
						<div></div>
					</li>
					<li>
						<!--text on the option-->
						<p>sdakl</p>
						<!--folded content-->
						<div></div>
					</li>
					<li>
						<!--text on the option-->
						<p>sdakl</p>
						<!--folded content-->
						<div></div>
					</li>
				</ul>
			</div>
		</li>		
	</ul>
</body>
<!--body end-->

</html>