/* global */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

h1.thin-title{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    color: white;
}

p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5em;
}

button{
    padding: 0.8em;
    border: none;
    border-radius: 15%;
    text-align: center;
}

/*header*/

body >header{
    width: 100%;
}

header > nav{
    padding: 0 3em;
}

header > .top-nav{
    width: 100%;
    background: white;
    text-align: right;
}

header > .top-nav ul{
    display: inline-table;
}

header > .top-nav li{
    display: table-cell;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(247, 180, 56);
    padding: 0.5em;
    list-style: none;
}

header > .top-nav li:hover{
    color: darkorange;
}

header > .top-nav li img{
    max-width: 1.5em;
    max-height: 1.5em;
    display: inline-block;
}

header > .top-nav li > * + *{
    margin-left: 0.5em;
}

header > .bottom-nav{
    width: 100%;
    background-color: #333333;
    text-align: right;
    position: relative;/* position:absolute child element */
}

header > .bottom-nav > img.logo{
    max-width: 100px;
    position: absolute;
    left: 2em;
    bottom: 5px;
}

header > .bottom-nav ul{
    display: inline-table;
}

header > .bottom-nav li{
    display: table-cell;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    padding: 1em 1em;
    list-style: none;
}

header > .bottom-nav li:hover{
    color: rgb(247, 180, 56);
}


/* main */

body > main{
    display: block;
    height: 1000px;
    width: 100%;
    background-color: white;
}

main > section.plans{
    background: rgb(175, 222, 212);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 1em;
    vertical-align: top;
}

main > .plans > h1{
    font-size: 50px;
    text-shadow: 1px 1px 2px #333333;
}

main > .plans > .row{
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

main > .plans > .row > section{
    width: 30%;
    vertical-align: top;
    display: inline-block;
    border-radius: 2px;
}

main > .plans > .row > section.plan1{
    background-color: rgb(242, 183, 73);
    border: solid 1px rgb(242, 183, 73);
}

main > .plans > .row > section.plan2{
    background-color: rgb(51, 142, 13);
    border: solid 1px rgb(51, 142, 13);
}

main > .plans > .row > section.plan3{
    background-color: rgb(73, 141, 242);
    border: solid 1px rgb(73, 141, 242);
}

main > .plans > .row > section + section{
    margin-left: 2em;
}

main > .plans > .row > section > h1{
    font-size: 25px;
    margin: 10px 0px;
}

main > .plans > .row > section > ul{
    display: block;
    width: 100%;
    background: inherit;
    list-style: none;
}
.plans > .row > section > ul > li{
    background: white;
    color: black;
    padding: 1em;
}

.plans > .row > section > ul > li + li{
    margin-top: 1px;
}

main > section.help{
    margin-top: 5px;
    width: 100%;
    background: orange;
    padding: 1em;
    font-size: 20px;
}

main > section.help button{
    vertical-align: text-bottom;
    background: white;
    color: orange;
    text-shadow:1px 1px 1px #666666;
}

main > section.features{
    background: rgb(246, 241, 230);
    padding: 1.5em;
    width: 100%;
}

.features > h1{
    font-size: 30px;
    color: orange;
}

.features > div.container{
    margin-top: 2em;
}

.features > .container > div.feature{
    display: inline-block;
    width: 20%;
    padding: 1em;
}

.features > .container > .feature h1{
    color: black;
}

.features > .container > .feature img{
    width: 100%;
}

main > section.customer-service{
    background: white;
    text-align: center;
    width: 100%;
    height: 5000px;
    padding: 1em;
}

.customer-service > canvas.welcome{
    display: inline-block;
}


/* footer */


/* utility */

.box-test{
    background-color: red;
}