/* global */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

/*header*/

body >header{
    width: 100%;
}

header > nav{
    padding: 0 3em;
}

header > .top-nav{
    width: 100%;
    background: white;
    text-align: right;
}

header > .top-nav ul{
    display: inline-table;
}

header > .top-nav li{
    display: table-cell;
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    color: rgb(247, 180, 56);
    padding: 0.5em;
    list-style: none;
}

header > .top-nav li:hover{
    color: darkorange;
}

header > .top-nav li img{
    max-width: 1.5em;
    max-height: 1.5em;
    display: inline-block;
}

header > .top-nav li > * + *{
    margin-left: 0.5em;
}

header > .bottom-nav{
    width: 100%;
    background-color: #333333;
    text-align: right;
    position: relative;/* position:absolute child element */
}

header > .bottom-nav > img.logo{
    max-width: 100px;
    position: absolute;
    left: 2em;
    bottom: 5px;
}

header > .bottom-nav ul{
    display: inline-table;
}

header > .bottom-nav li{
    display: table-cell;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: white;
    padding: 1em 1em;
    list-style: none;
}

header > .bottom-nav li:hover{
    color: rgb(247, 180, 56);
}


/* main */

body > main{
    height: 1000px;
    width: 100%;
    background-color: lightgray;
}

main > section.plans{
    background: rgb(175, 222, 212);
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    padding: 1em;
    vertical-align: top;
}

main > .plans > h1{
    text-align: center;
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: white;
    text-shadow: 1px 1px 2px #333333;
}

main > .plans > .row{
    width: 100%;
    margin-top: 1em;
    text-align: center;
}

main > .plans > .row > section{
    width: 30%;
    vertical-align: top;
    display: inline-block;
    height: 200px;
    border-radius: 2px;
}

main > .plans > .row > section.plan1{
    background-color: rgb(242, 183, 73);
    border: solid 1px rgb(242, 183, 73);
}

main > .plans > .row > section.plan2{
    background-color: rgb(51, 142, 13);
    border: solid 1px rgb(51, 142, 13);
}

main > .plans > .row > section.plan3{
    background-color: rgb(73, 141, 242);
    border: solid 1px rgb(73, 141, 242);
}

main > .plans > .row > section + section{
    margin-left: 10px;
}

main > .plans > .row > section > h1{
    text-align: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
    color: white;
    margin: 10px 0px;
}

main > .plans > .row > section > ul.info{
    display: block;
    width: 100%;
    background: white;
    list-style: none;
}
main > .plans > .row > section > .info > li{
    
}


/* footer */

body > footer{
    height: 100px;
    width: 100%;
    background-color: orange;
}

/* utility */

.box-test{
    background-color: red;
}